<table id="bankers_table">
<thead>
	<tr>    
      	    <th>Count</th>
            <th>Name</th>				
            <th>Quality</th>
      	    <th>Item Level</th>
            <th>Req Level</th>
            <th>Type</th>
            <th>Subclass</th>
    	    <th>Banker</th>
	</tr>
	</thead>
  <tbody>
  {% for bank_item in bank_items %}
     <tr id="{{ bank_item.item_id }}">
     <td>{{ bank_item.item_count }}</td>
     <td>{{ bank_item.item_name }}</td>

     <td>{{ bank_item.game_id }}</td>
     <td>{{ bank_item.game_id }}</td>	
     <td>{{ bank_item.game_id }}</td>
     <td>{{ bank_item.game_id }}</td>
     <td>{{ bank_item.game_id }}</td>
     <td>{{ bank_item.banker_id }}</td>
     </tr>
  {% endfor %}
  </tbody>
</table>

